img {
    width: 500px;
    height: 500px;
}

#cssWindow {
width: 500;
height:500;
border: solid 5px salmon;
margin: 0 auto;
}

#cssSlider {
    display: flex;
    overflow: hidden;
    animation: carousel 10s infinite
}

@keyframes carousel {
    from {
        transform: translateX("0px");
    }
    to {
        transform: translateX("-500px");
    }
}
